h1.title {
  border-bottom: 10px solid green;
  border-left: 10px solid green;
}

h2 {
  border-bottom: 5px solid green;
}

h3 {
  border-bottom: 5px solid green;
}

th {
    background-color: green;
}
